.copyright {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 15px;
    color: white;
}
.footer-container-link {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
.footer-container-link a {
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
    color: white;
    font-size: 20px;
}
  
.footer-link:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer-link-visted {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.footer-link:visted:hover {
    color:rgb(255, 255, 255);
}
.icon-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 30px
}
.footer-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
}

.footer-container {
    background-color: #344c39;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-footer {
    fill: white;
}

.split-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Unique styles for the newsletter form */
.newsletter-form {
    max-width: 400px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 800px;
  }
  
  .heading {
    font-weight: bold;
    font-size: 20px;
  }
  
  .newsletter-form h2 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
  }
  
  .newsletter-form label {
    display: block;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
  }
  
  .newsletter-form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .newsletter-form input[type="submit"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #344c39;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .newsletter-form input[type="submit"]:hover {
    background-color: #d2d8d2;
  }

  @media (max-width: 768px) {
    .footer-container {
        height: 600px;
        flex-direction: column;
    }

    .newsletter-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .copyright {
        text-align: center;
    }

    .footer-container-link {
        margin-bottom: 0px;
    }

    .newsletter-form {
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0px;
    }

    
    .form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}