.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: .1rem solid #2c3e50;
    border-top: .1rem solid #2c3e50;
    height: 60px;
}

.nav-img {
    height: 250px;
    padding-top: 10px;
}
.nav-title {
    font-size: 24px; 
}
.header-bottom {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0 0;
    gap: 30px;
}
.nav-item {
    margin: 0 10px; 
}
.nav-link {
    text-decoration: none;
    color: black; 
    font-size: 18px
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: #2c3e50;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #2c3e50;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: rgba(52,76,57,1);
}

.nav-link:hover {
    color: rgba(52,76,57,1);
}

.shopping-img {
    height: 25px;
    position:absolute;
    right: 5%;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-toggle {
        display: flex;
    }

    .contact-text-small {
        padding: 10px;
    }
}
